body {
    background-image: url('Study\storage\app\images\seashore.jpg') !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}  